*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #082032;
    color: #28FFBF;
    font-family: 'Roboto Condensed',sans-serif;
}

header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    font-size: 2.5rem;
    margin-top: 5rem;
}

form input, form button{
    border: none;
    padding: .5rem;
    font-size: 2rem;
}

form input{
    width: 40%
}

form input:focus{
    outline: none;
    transition: .2s;
    border-radius: 0.5rem;
}

form button{
    cursor: pointer;
    background-color: #28FFBF;
    color: #082032;
    transition: .2s;
}

form button:hover{
    background-color: #5aff83;
    /* font-size: 2.5rem; */
    border-radius: .5rem;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todo-item{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    min-width: 40%;
    margin: .5rem;
}

.todo{
    list-style: none;
    flex: 2;
    padding-left: .5rem;
    background-color: white;
    color:#082032;
}

.todo, .todo-check, .todo-remove{
    font-size: 2rem;
    border: none;
    background-color: white;
    color:#082032;
    padding: 0.5rem;
}

.todo-check,.todo-remove{
    transition: .2s;
    cursor: pointer;
    flex: 0.1;
}

.todo-check:hover{
    background-color:#5aff83;
    border-radius: .5rem;
}

.todo-remove:hover{
    background-color: #FF4C29;
    border-radius: .5rem;
}   

.fa{
    pointer-events: none;
}

.deletion{
    transform: translateY(5rem) rotateZ(20deg);
    opacity:0;
    transition: all .5s ease;
}

.complete{
    text-decoration: line-through;
    opacity: 0.5;
}

select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    padding: .4rem;
    color:#082032;
    width: 8rem;
    cursor: pointer;
    font-size: 1.1rem;
}

.filter{
    margin: 1rem;
    position: relative;
    overflow: hidden;
    
}

.filter::after{
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #28FFBF;
    color: #082032;
    pointer-events: none;
    padding: .5rem;
    margin: 0;
}

select:hover ,.filter:hover::after{
    border-radius: .5rem;
    transition: 0.2s;
}

.hidden{
    transition: .1s;
    display: none;
}

.filter:hover::after{
    background-color: #5aff83;
}